@import "variables.scss";

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /*Logo y texto principal*/
  
  .logoytexto {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 11.18rem;
  
    h1 {
      font-family: $fuenteLetraTitulares;
      margin-right: 4vw;
    }
  }
  
  .logo {
    width: 8vw;
  }
  
  /*Navegacion (Boostrap) */
  
  .navegacion {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(22, 163, 163);
    height: 6.25rem;
    align-items: center;
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    list-style: none;
  }
  
  .navbar-brand {
    margin-right: 28px;
  }
  
  .navegacion a {
    text-decoration: none;
    color: cornsilk;
  }
  
  .navegacionSticky {
    position: sticky;
    top: 0;
  }
  
  /*Footer*/
  
  .pie, .pie2 {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.993);
    height: 5rem;
    align-items: center;
    margin: 4px;
    margin-top: 30px;
    color: blanchedalmond;
    bottom: 0;
  }
  
  /*MIXIN Mains GRID*/

  @mixin mainGrid($columns, $rows, $templateAreas){
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    grid-template-areas: $templateAreas;
    height: 31.25vw;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
  }

  /*Main Index*/
  
  .mainIndex {
    @include mainGrid(40% 50% , 33% 33% 23% , "a1 a2" "a1 a4" "a5 a6")
  }
  
  #videoIntroduccion {
    grid-area: a1;
  }
  
  #titularResenas {
    grid-area: a2;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  #primeraResena {
    grid-area: a4;
    overflow: hidden;
  }
  
  #titularIndex {
    margin-bottom: 300px;
  }
  
  #segundaResena {
    grid-area: a6;
    overflow: hidden;
    margin-top: 80px;
  }
  
  #botonIndex {
    grid-area: a5;
  }
  
  @media screen and (max-width: 590px) {
    .mainIndex {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 10px;
    }
  
    .pie {
      margin-top: 700px;
    }
  
    #titularIndex {
      margin-top: 400px;
      margin-bottom: 60px;
    }
  }
  
  /*Main Download*/
  
  #mainDescargas {
    @include mainGrid(50% 50% , 50% 50% , "a1 a1" "a2  a3" )
  }
  
  .logoytextoDescargas {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.18rem;
  }
  
  .titularDescargas {
    font-family: $fuenteLetraTitulares;
    font-style: bold;
    grid-area: a1;
  }
  
  .windowsAndLinux_Base{
    display: flex;
    align-items: center;
    font-family: $fuenteLetraTitulares;
    margin-right: 30px;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .windowsAndLinux_Padre1 {
    grid-area: a2;
    @extend .windowsAndLinux_Base
  }
  
  .windowsAndLinux_Padre2 {
    grid-area: a3;
    @extend .windowsAndLinux_Base;
  }
  
  .windowsAndLinux_Imagen {
    width: 10%;
    margin: 13px;
  }
  
  @media screen and (max-width: 590px) {
    #mainDescargas {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  
    #videoIntroduccion {
      iframe {
        height: 100%;
        width: 100%;
      }
  
      margin-bottom: 100px;
    }
  
    #titularIndex {
      padding-top: 100px;
    }
  }
  
  /*Main Questions*/
  
  .preguntasMain {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: $fuenteLetraTitulares;
    margin-right: 30px;
    margin-bottom: 43px;
    margin-top: 30px;
  
    h2 {
      margin-bottom: 50px;
    }
  }
  
  /*Main Updates*/
  
  .actualizacionesRecientes {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .titularActualizaciones {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
  }
  
  .actualizacionesRecientes h3 {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  /*Main Contact*/
  
  form {
    width: 400px;
    padding: 18px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(184, 184, 184);
    margin-bottom: 90px;
  }
  
  label {
    display: inline-block;
    margin: 10px;
  }
  
  @media screen and (max-width: 590px) {
    form {
      width: 340px;
      padding: 18px;
      border-radius: 8px;
      margin-left: auto;
      margin-right: auto;
      background-color: rgb(184, 184, 184);
      margin-bottom: 90px;
    }
  }
  
  /*General*/
  
  body {
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
  }
  
  button a {
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
  }
